body{
    font-family: Arial, Helvetica, sans-serif;
}

form{
    background-color: rgb(14, 11, 177);
    color: beige;
    text-align: center;
    margin: 0 auto;
    width: 500px;
    padding: 20px;
}

.pending{
background-color: #eee;
text-align: center;
margin: 0 auto;
width: 500px;
padding: 20px;
}